
.inactive__tab{
  padding: 40px;
  text-align: center;
  width: 100%;
  background-color: rgb(230, 228, 228);
  color: #5a6f90;
  cursor: pointer;
  border-radius: 1px;
  border-right: 1px solid black;
  box-sizing: content-box;
  font-weight: bold;
  font-size: 25px;

}
.active__tab{
  padding: 40px;
    text-align: center;
    width: 100%;
    background-color: #5a6f90;
    color: white;
    cursor: pointer;
    border-radius: 1px;
    border-right: 1px solid black;
    box-sizing: content-box;
    font-weight: bold;
    font-size: 25px;

}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.clicked_Header{
  background-color: blue;
}
.App{
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}
.plancards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}